@import "./themes/skechers.scss";

@import "@material/theme/mdc-theme";
@import "@material/elevation/mdc-elevation";
@import "@material/textfield/mdc-text-field";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/typography/mdc-typography";

$link-hover: #777777;

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: $link-hover;
    text-decoration: underline;
}

a:focus {
    color: $link-hover;
}

a:active {
    color: $link-hover;
}

.material-icons {
    font-size: 1rem;
    vertical-align: text-bottom;
}

.hello-world {
    background-image: url("https://ok7static.oktacdn.com/fs/bco/7/fs02k98fmDOVonXOd356");
    background-size: cover;
    background-position: 50%;
    padding-bottom: 8px;
}

.sign-in {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: center;
    width: 400px;
}

.sign-in-section {
    border-bottom: 1px solid #DDDDDD;
    padding: 28px;
}

footer {
    padding: 8px 80px;
    p {
        margin: 0;
    }
}
